<h1>プロフィール</h1>

<div class="area">
    <div class="marquee">
        こんにちは！動いてまーす!
    </div>
</div>

<h2>伊神誠人</h2>

<%= link_to "新規投稿", new_path %>

<div class="picture">
	<%= image_tag 'chopper.jpg', class:"circle"%>
</div>