<h1>プロフィール</h1>

<div class="marquee">
  <div class="marquee-inner">こんにちは！動いてます！</div>
</div>

<h1>伊神誠人</h1>

<h2><%= link_to "新規投稿", new_path %><h2>

<a href="https://mako-channel.com/programming/ruby-collabo"target="_blank">ブログでアウトプットしました<br></a>

<a href="https://mako-channel.com/programming/ruby-collabo"target="_blank">
<img src="wing.gif" border="0">
<a>

<div class="picture">
	<%= image_tag 'chopper.jpg',:size =>'600x480' ,class:"circle"%>
</div>